.page a{
    color: rgb(141, 96, 137);
}
.list1{
    width: 150px;
    height: 204px;
    position: fixed;
    left: 0;
    top: 29%;
    margin-top: -102px;
    font-weight: 700;
    font-style: oblique;
}
.list2{
    width: 150px;
    height: auto;
    border: 1px solid rgb(252, 249, 251);
    background: rgb(189, 150, 184);
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 16px;
    opacity: 0.8;
    border-radius: 4px;
}
.list2 ul{
    width: 150px;
    height: auto;
    display: none;
}
.list2:hover ul{
    display: block;
}
.list2 ul li{
    list-style-type: none;
    width: 150px;
    height: auto;
    border-bottom: 1px solid rgb(141, 96, 137);
    background: white;
    text-align: center;
    line-height: 40px;
    color: rgb(59, 27, 59);
    position: relative;
    cursor: pointer;
}
.tit{
    width: 150px;
    height: 40px;
}
.list3{
    width: 150px;
    height: auto;
    position: absolute;
    left: 150px;
    top: 0;
    display: none;
}
.list2 ul li:hover .list3{
    display: block;
}
.child{
    width: 150px;
    height: 40px;
    border-bottom: 1px solid rgb(252, 251, 251);
    background: rgb(223, 199, 221);
    text-align: center;
    line-height: 40px;
    color: #ffffff;
}